# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Weights
**/weights/
**/*.json
**/*.pt
**/*.pth

# Logs
**/history/
*.log

# Environments
.venv/
venv/
env/
/home/olmozavala/uv/envs/
